.dot {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    transform: scale(0.3);
    background-color: #03396c;
  }

.dot-container {
    width: 100%;
    height: 300px;
}

.dot-simple-shallow {
    animation: simple-shallow 10s ease-in-out alternate infinite;
}

.dot-simple-mid {
    animation: simple-shallow 15s ease-in-out alternate infinite;
}

.dot-simple-deep {
    animation: simple-shallow 20s ease-in-out alternate infinite;
}

@-webkit-keyframes simple-shallow {
    0% {
        background-color: #03396c;
        transform: scale(0.3);
    }

    10% {
        background-color: #03396c;
        transform: scale(0.3);
    }

    45% {
        transform: scale(1);
        background-color: #b3cde0;
    }

    50% {
        transform: scale(1);
        background-color: #b3cde0;
    }

    55% {
        transform: scale(1);
        background-color: #b3cde0;
    }

    95% {
        background-color: #03396c;
        transform: scale(0.3);
    }
    
    100% {
        transform: scale(0.3);
        background-color: #03396c;
    }
}

@keyframes simple-shallow {
    0% {
        background-color: #03396c;
        transform: scale(0.3);
    }

    10% {
        background-color: #03396c;
        transform: scale(0.3);
    }

    45% {
        transform: scale(1);
        background-color: #b3cde0;
    }

    50% {
        transform: scale(1);
        background-color: #b3cde0;
        
    }

    55% {
        transform: scale(1);
        background-color: #b3cde0;
    }

    95% {
        background-color: #03396c;
        transform: scale(0.3);
    }
    
    100% {
        transform: scale(0.3);
        background-color: #03396c;
    }

}