.dot {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    transform: scale(0.3);
    /*background-color: #03396c;*/
    /*background: #03396c url("img/circle-bg.png");*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#37408b+0,669fcd+100 */
    background: #37408b; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #37408b 0%, #669fcd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #37408b 0%,#669fcd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #37408b 0%,#669fcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37408b', endColorstr='#669fcd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    max-width: 100%;
  }

  .dot-outline {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-image: url("img/white-bg.png");
  }

  .tiny-dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #03396c;
    animation: simple-shallow 10s ease-in-out alternate infinite;
  }

.dot-container {
    width: 100%;
    height: 100%;
}

.navbar {
    opacity: 25%;
}

.navbar:hover {
    opacity: 100%;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px;
  margin-top: 10px;
}


.dot-simple-shallow {
    animation: simple-shallow 10s ease-in-out alternate infinite;
}

.dot-simple-mid {
    animation: simple-shallow 15s ease-in-out alternate infinite;
}

.dot-simple-deep {
    animation: simple-shallow 20s ease-in-out alternate infinite;
}

@-webkit-keyframes simple-shallow {
    0% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }

    10% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }

    45% {
        transform: scale(1);
        /* background-color: #b3cde0; */
    }

    50% {
        transform: scale(1);
        /* background-color: #b3cde0; */
    }

    55% {
        transform: scale(1);
        /* background-color: #b3cde0; */
    }

    95% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }
    
    100% {
        /* transform: scale(0.3); */
        background-color: #03396c;
    }
}

@keyframes simple-shallow {
    0% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }

    10% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }

    45% {
        transform: scale(1);
        /* background-color: #b3cde0; */
    }

    50% {
        transform: scale(1);
        /* background-color: #b3cde0; */
        
    }

    55% {
        transform: scale(1);
        /* background-color: #b3cde0; */
    }

    95% {
        /* background-color: #03396c; */
        transform: scale(0.3);
    }
    
    100% {
        transform: scale(0.3);
    }

}